# Ignore object files
**/*.o

# Ignore static libraries
**/*.a

# Ignore shared libraries
**/*.so

# Ignore SPIR-V Files
**/*.spv

# Ignore all gdb history files
**/*.gdb_history

# Ignore all se executables in examples
examples/**/*se

# Ignore all build folders
build/
ibuild/

valgrind-out.txt

vgcore.*

peda*

xdg-shell-protocol.h

